.behind {
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
  left: 0;
  height: 180px;
  overflow: hidden;
}

.front {
  position: relative;
  z-index: 1;
  background: var(--background);
}

.cover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-color: var(--text);
}
